<!-- Main Content -->
<div class="window">
    <div class="welcomeDiv">
        <p>Willkommen im ALDIS! Überwachen Sie Ihre Autodaten.</p>
    </div>

    <!-- ADL -->
    <div class="tableDiv">

        <!-- ADL table -->
        <div *ngIf="adlRecords.length > 0; else elseBlock">
            <h2>Einträge</h2>
            <table>
                <tbody>
                    <tr>
                        <th>FIN</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.fin }}</td>
                    </tr>
                    <tr>
                        <th>GPS</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.gps }}</td>
                    </tr>
                    <tr>
                        <th>Gurtstraffungen</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.electromotiveBeltTensionings }}</td>
                    </tr>
                    <tr>
                        <th>Beleuchtung</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.vehicleIlluminationHours }}</td>
                    </tr>
                    <tr>
                        <th>Km</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.km }}</td>
                    </tr>
                    <tr>
                        <th>Tank</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.fuelPercentage }}</td>
                    </tr>
                    <tr>
                        <th>Reifendruck</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.tirePressure }}</td>
                    </tr>
                    <tr>
                        <th>Kühlmittel</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.refrigerantPercentage }}</td>
                    </tr>
                    <tr>
                        <th>Bremsflüssigkeit</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.brakefluidPercentage }}</td>
                    </tr>
                    <tr>
                        <th>Wischwasser</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.screenWashPercentage }}</td>
                    </tr>
                    <tr>
                        <th>Autobahn</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.kmHighway }}</td>
                    </tr>
                    <tr>
                        <th>Landstraße</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.kmRoad }}</td>
                    </tr>
                    <tr>
                        <th>Stadt</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.kmCity }}</td>
                    </tr>
                    <tr>
                        <th>°C</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.temperatureCelsius }}</td>
                    </tr>
                    <tr>
                        <th>Fahrersitzverstellungen (el.)</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.elektricSeatAdjustments }}</td>
                    </tr>
                    <tr>
                        <th>Disc-Wechsler</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.cdSwap }}</td>
                    </tr>
                    <tr>
                        <th>Batteriezyklen</th>
                        <td *ngFor="let adlRecord of adlRecords; index as index">{{ adlRecord.chargeCycles }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ng-template #elseBlock>
        <p class="noDataText">Ooops! Es konnten keine Einträge gefunden werden...</p>
    </ng-template>
</div>